.carousel {
  width: 500px;
  height: 400px;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 300%;
  animation: slide 10s infinite;
}

.slide {
  flex-basis: calc(100% / 3);
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
